NODE_ENV = 'production'
MONGO_URI = ''
JWT = 'prod-jwt-key',
SESSION_KEY = 'prod-session-ket',
SMS_RU_API_KEY = ''
DADATA_API_KEY = ''
YANDEX_MASTER_KEY = 'LYnyWdv2JkCfN5SG'
YANDEX_CLIENT_ID = '97ca9a217fc24978aa327f3dec7415c4'

REMONLINE_API_KEY = ''
REMONLINE_PROXY = false

GITHUB_TOKEN = ''
