.fw-300
	font-weight: 300
.fw-400
	font-weight: 400
.fw-500
	font-weight: 500
.fw-600
	font-weight: 600
.fw-700
	font-weight: 700

.fs-24
	font-size: 18px !important

.sticky-top
	position: sticky
	top: 0

.rotate-90
	transform: rotate(90deg)
	
.w100
	width: 100%

.h100
	height: 100%

.text-right
  text-align: right

.text-left
  text-align: left

.text-center
  text-align: center

.cursor-pointer
	cursor: pointer

.align-items-center
	display: flex
	align-items: center

.m-15
	margin: 15px

.prl-0
	padding-right: 0
	padding-left: 0

.drawer
	height: 100vh
	overflow: auto
 
@for $i from 1 through ceil(205/5)
	$value: ($i - 1) * 5
	.mt-#{$value} 
		margin-top: #{$value}px
	.mb-#{$value}
		margin-bottom: #{$value}px
	.pt-#{$value}
		padding-top: #{$value}px
	.pb-#{$value}
		padding-bottom: #{$value}px
	.pl-#{$value}
		padding-left: #{$value}px
	.pr-#{$value}
		padding-right: #{$value}px
