@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"
@import "node_modules/bootstrap/scss/bootstrap-grid.scss"

@import "fonts"
@import "vars"
@import "components/colors"
@import "components/authBox"
@import "components/notify"
@import "components/sidebar"
@import "components/header"
@import "components/bg"
@import "components/tag"
@import "components/grid"
@import "components/buttons"
@import "components/imgUploaderItem"
@import "components/source"
@import "components/category"
@import "components/form"
@import "components/animations"
@import "components/inputClient"
@import "components/other"
@import "components/recording"
@import "abbreviation"
@import "components/handsontable"

*
  outline: 0 !important

body
  margin: 0
  padding: 0
  font-family: $defaultFont
  background-color: #f0f2f5

.logo
  font-family: 'Ubuntu', sans-serif
  color: #333
  font-size: 19px
  font-weight: 900
  transition: all .2s
  &:hover
    color: #6b6b6b
    text-decoration: none

.el-row--flex
  display: flex
  flex-wrap: wrap

.desc
  &-sm
    font-size: 13px
    color: #78797b
