.category
  display: flex
  flex-wrap: wrap
  align-items: center
  background: #fff
  border-radius: 4px
  border: 1px solid #dcdfe6
  cursor: pointer
  padding: 10px 15px
  height: 80px
  transition: all .2s
  &__img
    width: 80px
    height: 100%
    margin-right: 15px
  &__text
    flex: 1
  &__control
    display: flex
    width: 65px
  &__edit
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 6px;
    text-align: center;
  &__remove
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-left: 5px
    text-align: center;
  &.active
    border-color: #3a8ee6
  &:hover
    @extend .active
