.el-form-item__label
  font-size: 14px
  line-height: 26px
  padding-bottom: 0 !important
  margin-bottom: 0

.input-transparent
  & input
    background-color: transparent
    border-color: transparent
    padding-right: 37px
    padding-left: 7px
    transition: all .2s
    &:hover
      background: #fff
      border-color: #DCDFE6
    &:focus, &:active
      background: #fff
      border-color: #409EFF

.tableForm
  margin-right: -8px
  & .is-required
    margin-bottom: 0
  & .el-form-item__error
    margin-top: -15px
  


