// сюда писать стили которые не поподают под отдельную категорию
.vue-treeselect__multi-value-label
  white-space: normal !important

.pointer
  cursor: pointer

.partBtnContainer
  position: absolute
  top: 0px
  right: 60px
  & .el-button--mini
    width: 25px
    height: 25px
    padding: 6px 5px

.navFullname
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
  width: 105px

.popMaxHeight
  max-height: 550px
  overflow: auto
